<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%- include('./partials/stylesheets') %>

    <link rel="stylesheet" href="/css/post.css" />

    <%- include('./partials/scripts.ejs') %>

    <title>Diary Bot - Post</title>
  </head>
  <body>
    <section id="main">
      <div class="container-fluid">
        <%- include('./partials/navbar.ejs') %>
        <div class="flexy-div">
          <% posts.forEach(post => { %>
          <div class="shadow-div">
            <h2 class="post-date">
              <%= new Date(Object.keys(post)[0]).toDateString() %>
            </h2>
            <p class="post-content"><%= Object.values(post)[0] %></p>
          </div>
          <% }) %>
        </div>
      </div>
    </section>
    <%- include('./partials/footer.ejs') %>
    <script>
      $(".sign-in").hide();
    </script>
  </body>
</html>
